<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Wholly Here</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
</head>

<body ng-controller="ToolsCtrl">
    <div id="wrapper">


<!-- header by bootstrap -->        
<nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color: #FFFFFF" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Wholly Here</a>
      <p class="navbar-text">Find all you want here!</p>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search" style="padding:5px">
        <div class="form-group">
          <img ng-src="image/search.png" width="12px">
          <label>:</label>
          <input type="text" class="form-control" placeholder="#tag, tool...etc" ng-model="search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#cta">Suggestion</a></li>
        <li><a href="#footer">Contact us</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- header by bootstrap -->        

        <div id="content">
            <a class="item" ng-href="{{ tool.link }}" ng-repeat="tool in tools | filter : search">
                <div class="image-container">
                    <img ng-src="{{ tool.url }}" alt="sorry">
                    <p>{{ tool.name }}</p>
                </div>
                <div class="text-container">
                    <p>{{ tool.intro }}</p>
                    <span class="tag" ng-repeat="tag in tool.tag">#{{ tag }} </span>
                </div>
            </a>
        </div>

        <section id="cta">

          <h2>有其他推薦的好工具？</h2>
          <p>歡迎告訴我們，或是給予我們任何建議！</p>

          <script type="text/javascript">var submitted=false;</script>
          <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted==true){window.location.assign('http://www.whollyhere.com')}"></iframe>
          <form action="https://docs.google.com/forms/d/1E6SM9tnEZof3vA5IyAveDWXXO90WLiLHyYTNL1VzTiQ/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">

            <ol role="list" class="ss-question-list" style="padding-left: 0">
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="auto" class="ss-item ss-item-required ss-text">
                <div class="ss-form-entry">
                  <label class="ss-q-item-label" for="entry_3991416">
                    <div class="ss-q-title">
                    <!-- 工具名稱 --> 
                      <label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
                      <span class="ss-required-asterisk" aria-hidden="true"></span>
                    </div>
                    <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                  </label>
                  <input type="text" name="entry.3991416" value="" class="ss-q-short" id="entry_3991416" dir="auto" aria-label="工具名稱" aria-required="true" required="" title="" placeholder="工具名稱">
                    <div class="error-message" id="673444737_errorMessage"></div> 
                </div>
              </div>
            </div> 
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="auto" class="ss-item  ss-text">
                <div class="ss-form-entry">
                  <label class="ss-q-item-label" for="entry_2061410399">
                    <div class="ss-q-title"> <!-- 工具簡介（非必填） --> </div>
                    <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                  </label>
                  <input type="text" name="entry.2061410399" value="" class="ss-q-short" id="entry_2061410399" dir="auto" aria-label="工具簡介（非必填）" title="" placeholder="工具簡介（非必填）">
                  <div class="error-message" id="603557659_errorMessage"></div>
                </div>
              </div>
            </div> 
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="auto" class="ss-item ss-item-required ss-text">
                <div class="ss-form-entry">
                  <label class="ss-q-item-label" for="entry_326242333">
                    <div class="ss-q-title"><!--工具連結網址-->
                      <label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
                      <span class="ss-required-asterisk" aria-hidden="true"></span>
                    </div>
                    <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                  </label>
                  <input type="text" name="entry.326242333" value="" class="ss-q-short" id="entry_326242333" dir="auto" aria-label="工具連結網址" aria-required="true" required="" title="" placeholder="工具連結網址">
                  <div class="error-message" id="291350724_errorMessage"></div>
                </div>
              </div>
            </div> 
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="auto" class="ss-item  ss-text">
                <div class="ss-form-entry">
                  <label class="ss-q-item-label" for="entry_1366607701">
                    <div class="ss-q-title"><!--工具類型（非必填）--></div>
                    <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                  </label>
                  <input type="text" name="entry.1366607701" value="" class="ss-q-short" id="entry_1366607701" dir="auto" aria-label="您認為這個工具是關於什麼類型的？（非必填） #design , #APP....等等 " title="" placeholder="工具類型（非必填）#design , #APP....等等">
                  <div class="error-message" id="1370581219_errorMessage"></div>
                </div>
              </div>
            </div> 
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="auto" class="ss-item  ss-paragraph-text">
                <div class="ss-form-entry">
                  <label class="ss-q-item-label" for="entry_567550389">
                    <div class="ss-q-title"><!--任何想要給予的建議--></div>
                    <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                  </label>
                  <textarea name="entry.567550389" rows="8" cols="0" class="ss-q-long" id="entry_567550389" dir="auto" aria-label="任何想要給予的建議" placeholder="任何想要給予的建議(非必填)"></textarea>
                  <div class="error-message" id="490586609_errorMessage"></div>
                </div>
              </div>
            </div>
            <input type="hidden" name="draftResponse" value="[,,&quot;-3633732386564670778&quot;]">
            <input type="hidden" name="pageHistory" value="0">
            <input type="hidden" name="fvv" value="0">
            <input type="hidden" name="fbzx" value="-3633732386564670778">
              <div class="ss-item ss-navigate">
                <table id="navigation-table">
                  <tbody>
                    <tr>
                      <input type="submit" name="submit" value="&#25552;&#20132;" id="ss-submit" class="jfk-button jfk-button-action" style="color:#F9E5DF;background-color:#E57B5C">
                    </tr>
                  </tbody>
                </table>
              </div>
            </ol>
          </form>


        </section>
        <footer id="footer">	
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/sean0806" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/sean-carl" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
          </ul>

          <ul class="copyright">
            <li> Designed by Sean Huang © All rights reserved.</li>
          </ul>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.jqgoogleforms.min.js"></script>
    <script src="tools.js"></script>
    <script src="ga.js"></script>
</body>
    
</html>