body {
    margin: 0px;
    background-color: #F7F7F7
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #wrapper {
        /*寬度設定為900px*/
        margin: auto;
        /*版面居中對齊*/
        font-family: "Lato", "Helvetica Neue", "微軟正黑體", "Microsoft Yahei";
    }
}


#content {
    background-color: #FFFFFF;
    line-height: 1.5em;
    /*字體行間為兩個字距*/
    padding: 10px;
    /*文字與#content間的內距*/
    margin-left: 7%; 
    margin-bottom: 3%;
    margin-top: 3%;
}

#content::after {
    content: "";
    clear: both;
    display: block;
}




.item {
    float: left;
    padding: 0;
    list-style: none;
    border-radius: 0px;
    background-color: #A3DEC9;
    width: 190px;
    height: 260px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 15px;

}

.item img {
    width: 100px;
}

.item p {
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    color: #BE4747;
}

.image-container {
    margin-right: auto;
    margin-left: auto;
}

.image-container img {
    width: inherit;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    width: 100px;
}

.image-container p {
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    color: #BE4747;
}

.text-container {
    padding-top: 10px;
    width: 140px;
    margin-right: auto;
    margin-left: auto;
}

.text-container p {
    width: 150px;
    height: 65px;
    font-size: 14px;
    text-align: left;
    display:  inline-block ;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
    color: #5D5D5D;
    overflow : hidden ;
    text-overflow : ellipsis ;
    display : -webkit-box ;
    -webkit-line-clamp :  3 ;
    -webkit-box-orient : vertical ;
  }

.text-container span{
    font-size: 8px;
}


.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover p{
   
    font-size: 30px;  
}

