body {
    margin: 0px;
    background-color: #F7F7F7
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #wrapper {
        /*寬度設定為900px*/
        margin: auto;
        /*版面居中對齊*/
        font-family: "Lato", "Helvetica Neue", "微軟正黑體", "Microsoft Yahei";
    }
}

#header {
    background-color: #F7F7F7;
    height: 150px;
    /*高度設定為150px*/
    width: 100%;
    padding: 20px;
    /*內距設定*/
}

#content {
    background-color: #F7F7F7;
    font-size: 20px;
    /*字體大小*/
    line-height: 1.5em;
    /*字體行間為兩個字距*/
    padding: 20px;
    /*文字與#content間的內距*/
    color: #005E37;
    /*文字顏色設定*/
}

#content::after {
    content: "";
    clear: both;
    display: block;
}

#footer {
    /*可不用設定寬度和高度，由文字來決定*/
    background-color: #F7F7F7;
    font-size: 12px;
    /*文字尺寸設定*/
    line-height: 1.5em;
    /*文字行高設定為1.5字高*/
    padding: 20px;
    /*內距設定*/
}

.search {
/*    width: 130px;
    border: 2px solid #363636;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin-right: auto;
    margin-left: auto;*/
    height: 2em !important;
    border-radius: 1px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.item {
    float: left;
    padding: 0;
    list-style: none;
    border-radius: 20px;
    background-color: #24A560;
    width: 190px;
    height: 260px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-right: 12px;
    margin-bottom: 10px;
    margin-left: 12px;
}

.item img {
    width: 100px;
}

.item p {
    margin: 0;
    font-size: 14px;
    text-decoration: none;
}

.image-container {
    margin-right: auto;
    margin-left: auto;
}

.image-container img {
    width: inherit;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    width: 100px;
}

.image-container p {
    text-align: center;
}

.text-container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
}

.text-container p {
    text-align: left;
}

#cta {
  background-color: #000;
}

/* Footer */

#footer {
    padding: 4em 0;
}

#footer .copyright li {
    border-left: 0;
    display: block;
    line-height: 2em;
    margin-left: 0;
    padding-left: 0;
}

.box .image.featured:first-child {
    padding: 2em;
}

.box .image.featured:first-child img {
    height: 10em;
    width: 10em;
    margin: 0 auto;
}

.box p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  min-height: 5em;
}