<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Wholly Here</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
</head>

<body ng-controller="ToolsCtrl">
    <div id="wrapper">


<!-- header by bootstrap -->        
<nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color: #FFFFFF" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Wholly Here</a>
      <p class="navbar-text">Find all you want here!</p>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search" style="padding:5px">
        <div class="form-group">
          <img ng-src="image/search.png" width="12px">
          <label>:</label>
          <input type="text" class="form-control" placeholder="#tag, tool...etc" ng-model="search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- header by bootstrap -->        

        <div id="content">
            <a class="item" ng-href="{{ tool.link }}" ng-repeat="tool in tools | filter : search">
                <div class="image-container">
                    <img ng-src="{{ tool.url }}" alt="sorry">
                    <p>{{ tool.name }}</p>
                </div>
                <div class="text-container">
                    <p>{{ tool.intro }}</p>
                    <span class="tag" ng-repeat="tag in tool.tag">#{{ tag }} </span>
                </div>
            </a>
        </div>

        <section id="cta">

          <h2>有其他推薦的好工具？</h2>
          <p>歡迎告訴我們，或是給予我們任何建議！</p>

          <form>
            <div class="row uniform 50%">
              <div>
                <input type="text" name="email" id="toolname" placeholder="工具名稱">
              </div>
              <div>
                <input type="submit" value="Sign Up" class="fit">
              </div>
            </div>
          </form>

        </section>
        <footer id="footer">
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/sean0806" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/sean-carl" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
          </ul>
          <ul class="copyright">
            <li> Designed by Sean Huang © All rights reserved.</li>
          </ul>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.jqgoogleforms.min.js"></script>
    <script src="tools.js"></script>
</body>
    
    <script type="text/javascript">
    var googleForm = $(window).jqGoogleForms({"formKey": "1E6SM9tnEZof3vA5IyAveDWXXO90WLiLHyYTNL1VzTiQ"});

    googleForm.sendFormData({
         "WhollyHere工具收集表單": $("#toolname").val()
    });
    </script>

</html>
