<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Wholly Here</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>

<body ng-controller="ToolsCtrl">
    <div id="wrapper">

<!-- codepen navbar  -->

<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,900,800,700' rel='stylesheet' type='text/css'>

<div id="navbar">
  <div class="container">
  <div class="logo">Wholly Here</div>
<div id="nav-colapse">
  MENU
</div>  
  <nav class="nope">
    <ul>
      <li>home</li>
      <li>about</li>
      <li>vision</li>
      <li>services</li>
      <li>contact</li>
    </ul> 
  </nav>
    </div>
</div>
<div class="hero"></div>



<!-- codepen navbar  -->


        <div id="content">
            <a class="item" ng-href="{{ tool.link }}" ng-repeat="tool in tools | filter : search">
                <div class="image-container">
                    <img ng-src="{{ tool.url }}" alt="sorry">
                    <p>{{ tool.name }}</p>
                </div>
                <div class="text-container">
                    <p>{{ tool.intro }}</p>
                    <span class="tag" ng-repeat="tag in tool.tag">#{{ tag }} </span>
                </div>
            </a>
        </div>

        <section id="cta">

          <h2>Suscribe for new beta</h2>
          <p>取得最新的好用工具</p>

          <form>
            <div class="row uniform 50%">
              <div>
                <input type="email" name="email" id="email" placeholder="Email Address">
              </div>
              <div>
                <input type="submit" value="Sign Up" class="fit">
              </div>
            </div>
          </form>

        </section>
        <footer id="footer">
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/sean0806" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
          </ul>
          <ul class="copyright">
            <li> Designed by Sean Huang © All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Demo Images: <a href="http://unsplash.com">Unsplash</a></li>
          </ul>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
    <script src="tools.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>